body{
    
    margin-left: 50px;
    font-family: 'Crete Round', serif;
}
#bolo{
    font-size: 40px;
    color:rgba(233, 22, 152, 0.993);
}
.boom{
    width:40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
    text-align:left;
}

.boom img{
    width:80%;
}
.top-bg{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat; 
    background-size:contain ;
    background-position: center;
    
}
section{
    height: 600px;
}
.md-bg{
    text-decoration: none;;
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat; 
    background-size:contain ;
    background-position: center;
}


.bold{
    text-align: center ;
    font-size: 50px;
}
#md{
    text-align:center
}
.box{
    
    text-decoration:none;
    background-image:linear-gradient(lightSalmon,tomato);
    padding:10px 20px;
    border-radius: 10px;
    color:white; 
    
}
.mod img{
    float: left;
     width:30%;
}
.footer{
background-image: url(images/latest-work-bg.png);
background-repeat: no-repeat; 
background-size:contain ;
background-position: center;
}
.md-b{
    text-align: center;
}
.foot{
    text-align: center;
    background-image:linear-gradient(lightSalmon,tomato);
    border-radius: 10px;
    background-size: 10px;
    max-width: 600px;
    color:black; 
    margin:auto;
    padding: 10px;
}